
@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');

.MMM-MyVideoPlayer {
	padding-bottom: 200px;
	font-family: "Macondo Swash Caps", cursive;
}

.MMM-MyVideoPlayer .font {
  padding-top: 30px;
  line-height: 105%;
  font-size: 40px;
}

.MMM-MyVideoPlayer .navMenu {
  display: flex;
  align-items: stretch;
}

.MMM-MyVideoPlayer .navBtn {
  z-index: 1;
  border: solid 2px darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: darkred;
  font-size: 42px;
  padding: 10px 0 10px 0;
  font-weight: 600;
  opacity: 1;
  transition: 0.3s;
}

.MMM-MyVideoPlayer .navBtn:hover {
  opacity: 0.6;
  color: #ff0000;
  cursor: pointer;
}

.MMM-MyVideoPlayer .navText {
  margin: -5px 0;
}
