
@import url('https://fonts.googleapis.com/css?family=Macondo+Swash+Caps');

.MMM-MyVideoPlayer .player {
	padding-bottom: 200px;
	font-family: "Macondo Swash Caps", cursive;
}

.MMM-MyVideoPlayer .button {
	z-index: 1;
	border: solid 3px white;
	font-family: "Macondo Swash Caps", cursive;
	display: inline-block;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: white;
	font-size: 32px;
	padding: 10px 10px 10px 10px;
	font-weight: 600;
	opacity: 1;
	transition: 0.3s;
}

.MMM-MyVideoPlayer .navMenu {
	display: inline-block;
	align-items: stretch;
	flex-direction: row;
}

.MMM-MyVideoPlayer .controls {
	border: 2px solid darkgreen;
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5px;
	padding-bottom: 3px;
	border-radius: 7px;
}

.MMM-MyVideoPlayer .font {
	padding: 10px 10px 10px 10px;
	line-height: 105%;
	font-size: 40px;
}

.MMM-MyVideoPlayer .button:hover {
	opacity: 0.6;
	color: #ff0000;
	cursor: pointer;
}

.MMM-MyVideoPlayer .navText {
	margin: -5px 0;
}
